<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="container">
      <form action="">
        <input type="date" />
        <button>Calcular</button>
      </form>
      <div class="result">
        <p>
          Faltan
          <span>1</span>
          año,
          <span>4</span>
          meses,
          <span>5</span>
          dias,
          <span>11</span>
          horas
          <span>5</span>
          minutos y
          <span>27</span>
          segundos
        </p>
      </div>
    </div>
  </body>
</html>
